* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-style: none;
  overflow: hidden;
  font-family: sans-serif;
}
.App {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  margin: auto;
}
.subtitle {
  font-size: 32px;
  font-weight: 600;
}
.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

p {
  margin: 30px;
  text-align: justify;
  max-height: 50vh;
  overflow-y: auto;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #b0b0b0;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:active {
  background-color: #d5d5d5;
  transition: all 0.3s ease;
}

.unlockIcon {
  font-size: 80px;
  color: #b0b0b0;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.2s ease;
}
.unlockIcon:hover {
  color: #808080;
}
.slideToUnlockScreen {
  background-color: rgb(215, 215, 215);
  height: 700px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-radius: 20px;
  border: 2px solid rgb(138, 138, 138);
}
